<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="styles.css" />
  <title>Create Page</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="index.html">
              <img src="images/ordinary.png" >
            </a>
        </div>
        <div class="title">
          <h2>Final Creative Project</h2>
          <h1>Create a Cuteness Challenger!</h1>
        </div>
        <div style= "align-content:center; padding: 1cm;">
          <a href="create.html">Add a Cute</a>
          <a href="admin.html">Administration</a>
        </div>
      </div>
  <div id="admin" class="content">
    
    <div class="heading">
      <div class="circle">1</div>
      <h2>Upload a Cute</h2>
    </div>
    <div class="add">
      <div class="form">
        <input v-model="title" placeholder="Cute Name">
        <p></p>
        <input type="file" name="photo" @change="fileChanged">
        <button @click="upload">Upload</button>
      </div>
      <div class="upload" v-if="addItem">
        <h2>{{addItem.title}}</h2>
        <img :src="addItem.path" />
      </div>
    </div>
    <div class="heading">
      <div class="circle">2</div>
      <h2>Summon a Cute</h2>
    </div>
    <div class="add">
        <div class="form">
          <p>https://thecatapi.com/v1/images?api_key=7e3636aa-9e85-49c3-9552-a099ce76c254</p>
          <button @click="summon">Summon Cat</button>
        </div>
      </div>
    
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="create.js"></script>
</body>

</html>
